@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  font-family: "Luckiest Guy";
  color: #D76E28;
}

#title {
  color: white;
  text-align: center;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
}